{% set title = "About" %}

{% extends "_layouts/site" %}

{% block main %}

{% set entry = craft.entries.section('aboutUs').first() %}

<!-- Masthead -->

<header id="about-masthead" class="masthead flexbox">
	<div class="masthead-content main-container flexbox">
		{% for headline in entry.bannerHeadlines %}
		<div class="headlines">
			<h1>{{ headline.bannerHeadline }}</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			<div>
				<h3>{{ headline.bannerCopy }}</h3>
			</div>
		</div>
		{% endfor %}
	</div>
</header>	

<!-- End Masthead -->

<!-- Who We Are -->

{% for paragraph in entry.generalParagraph %}
<section id="who-we-are" class="main-container">
	<div class="centered">
		<h1>{{ paragraph.paragraphHeadline }}</h1>
		<div class="rule">
			<img src="/img/rule.png" alt="Rule" />
		</div>
		{{ paragraph.paragraphCopy }}
		<hr />
	</div>
</section>
{% endfor %}

<!-- End Who We Are -->

<!-- Our people -->

<section id="our-people" class="main-container">
	<div class="centered">
		<h1>Our people</h1>
		<div class="rule">
			<img src="/img/rule.png" alt="Rule" />
		</div>
	</div>
	<div class="people flexbox">
		{% set staff = craft.entries.section('staff').order('title') %}
		{% for staffMember in staff %}
		<div class="hvr-bounce-to-right-person person">
			<div class="person-image">

				{% if staffMember.staffImage | length %}
    			{% set image = staffMember.staffImage.first() %}
        			<img src="{{ image.url }}">
				{% endif %}

				<div class="person-biography flexbox">
					{{ staffMember.staffBiography }}
				</div>
			</div>
			<div class="person-name-panel">
				<p><span class="person-name">{{staffMember.staffName}}</span><br><span class="job-title">{{staffMember.staffPosition}}</span></p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- End Our People -->

<!-- Our Clients -->

<section id="our-clients">
	<div class="main-container">
		<div class="centered">
			<h1>Our Clients</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
		</div>
		<div class="client-logos-panel flexbox">

			{% set clients = craft.entries.section('clients') %}
			{% for client in clients %}

			<div class="client-logos">

				{% if client.clientLogo | length %}
    			{% set image = client.clientLogo.first() %}
        			<img src="{{ image.url }}" alt="PGL">
				{% endif %}
				
			</div>

			{% endfor %}

		</div>
	</div>
</section>

<!-- End Our Clients -->

<!-- Our Awards -->

<section id="our-awards">
	<div class="main-container">
		<div class="centered">
			<h1>Our Awards</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			<p>Awards aren’t always a measure of effectiveness, but they’re certainly nice to have. Here are some of the ones we enter, and win, for our clients.</p>
		</div>
		<div class="awards-panel flexbox">

			{% set awards = craft.entries.section('awards') %}
			{% for award in awards %}

			<div class="awards">

				{% if award.awardImage | length %}
    			{% set image = award.awardImage.first() %}
        			<img src="{{ image.url }}" alt="PGL">
				{% endif %}

				<div class="award-biography flexbox">
					<p>{{ award }}</p>
				</div>

			</div>

			{% endfor %}
			
		</div>
	</div>
</section>

<!-- End Our Awards -->


{% endblock main %}