{% set title = "About" %}

{% extends "_layouts/site" %}

{% block main %}

{% set entry = craft.entries.section('aboutUs').first() %}

<!-- Masthead -->

<header id="about-masthead" class="masthead flexbox">
	<div class="masthead-content main-container flexbox">
		{% for headline in entry.bannerHeadlines %}
		<div class="headlines">
			<h1>{{ headline.headlineCopy }}</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			<div>
				<h3>The Foundry is a creative communications agency, built around world-class people who are passionate about growing our clients’ businesses.</h3>
			</div>
		</div>
		{% endfor %}
	</div>
</header>	

<!-- End Masthead -->

<!-- Who We Are -->

<section id="who-we-are" class="main-container">
	<div class="centered">
		<h1>Since 1998...</h1>
		<div class="rule">
			<img src="/img/rule.png" alt="Rule" />
		</div>
		<p>...we have helped to build brands, big and small, across all sectors &mdash; business and consumer &mdash; from automotive and retail, to healthcare and travel.</p>
		<p>If you have a marketing problem that could use a fresh pair of eyes, our planners, designers, art directors, writers and web developers are ready to solve it.</p>
		<hr />
	</div>
</section>

<!-- End Who We Are -->

<!-- Our people -->

<section id="our-people" class="main-container">
	<div class="centered">
		<h1>Our people</h1>
		<div class="rule">
			<img src="/img/rule.png" alt="Rule" />
		</div>
	</div>
	<div class="people flexbox">
		{% set staff = craft.entries.section('staff').order('title') %}
		{% for staffMember in staff %}
		<div class="hvr-bounce-to-right-person person">
			<div class="person-image">

				{% if staffMember.staffImage | length %}
    			{% set image = staffMember.staffImage.first() %}
        			<img src="{{ image.url }}">
				{% endif %}

				<div class="person-biography flexbox">
					{{ staffMember.staffBiography }}
				</div>
			</div>
			<div class="person-name-panel">
				<p><span class="person-name">{{staffMember.staffName}}</span><br><span class="job-title">{{staffMember.staffPosition}}</span></p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- End Our People -->

<!-- Our Clients -->

<section id="our-clients">
	<div class="main-container">
		<div class="centered">
			<h1>Our Clients</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
		</div>
		<div class="client-logos-panel flexbox">

			{% set clients = craft.entries.section('clients') %}
			{% for client in clients %}

			<div class="client-logos">

				{% if client.clientLogo | length %}
    			{% set image = client.clientLogo.first() %}
        			<img src="{{ image.url }}" alt="PGL">
				{% endif %}
				
			</div>

			{% endfor %}

		</div>
	</div>
</section>

<!-- End Our Clients -->

<!-- Our Awards -->

<section id="our-awards">
	<div class="main-container">
		<div class="centered">
			<h1>Our Awards</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			<p>Awards aren’t always a measure of effectiveness, but they’re certainly nice to have. Here are some of the ones we enter, and win, for our clients.</p>
		</div>
		<div class="awards-panel flexbox">
			<div class="awards">
				<img src="/img/awards/summit.jpg" alt="Summit Creative Awards">
				<div class="award-biography flexbox">
					<p>Summit Creative Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/global.jpg" alt="The Global Awards">
				<div class="award-biography flexbox">
					<p>The Global Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/new-york.jpg" alt="The New York Festivals">
				<div class="award-biography flexbox">
					<p>The New York Festivals<sup>&trade;</sup></p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/pmea.jpg" alt="PMEA Awards">
				<div class="award-biography flexbox">
					<p>PMEA Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/rx-club.jpg" alt="The RX Club">
				<div class="award-biography flexbox">
					<p>The RX Club</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/roses.jpg" alt="Roses Design Awards">
				<div class="award-biography flexbox">
					<p>The Drum<sup>&reg;</sup>Roses<br>Creative Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/epica.jpg" alt="EPICA Creative Awards">
				<div class="award-biography flexbox">
					<p>EPICA Creative Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/veterinary.jpg" alt="Veterinary Marketing Awards">
				<div class="award-biography flexbox">
					<p>Veterinary Marketing Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/ipa.jpg" alt="IPA Awards">
				<div class="award-biography flexbox">
					<p>IPA Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/cresta.jpg" alt="Creata Advertising Awards">
				<div class="award-biography flexbox">
					<p>Cresta Advertising Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/drum.jpg" alt="The Drum Awards">
				<div class="award-biography flexbox">
					<p>The Drum Awards</p>
				</div>
			</div>
			<div class="awards">
				<img src="/img/awards/rar.jpg" alt="RAR Awards">
				<div class="award-biography flexbox">
					<p>RAR Digital Awards</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- End Our Awards -->


{% endblock main %}