{% set title = "Work" %}

{# work out previous and next pieces of work #}

{% set nextEntry = entry.nextSibling %}
{% if nextEntry is empty %}
{% set nextEntry = entry.siblings(entry).first() %}
{% endif %}

{% set prevEntry = entry.prevSibling %}
{% if prevEntry is empty %}
{% set prevEntry = entry.siblings.last() %}
{% endif %}

{% extends "_layouts/site" %}

{% block inlineCss %}



<style>

{% if entry.caseStudyBackgroundImage | length %}
{% set image = entry.caseStudyBackgroundImage.first() %}
	#{{ entry.slug }}-masthead {
		background: black url({{ image.url }}) no-repeat bottom center;
	}
{% endif %}

</style>

{% endblock %}

{% block main %}

<!-- Masthead -->

<header id="{{ entry.slug }}-masthead" class="masthead flexbox">
	<div class="masthead-content main-container flexbox">

		{% for headline in entry.bannerHeadlines %}

		<div class="headlines">
			<h1>{{ headline.bannerHeadline }}</h1>
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>

			<h3>{{ headline.bannerCopy }}</h3>
		</div>

		{% endfor %}

		<div class="client-logo">

			{% if entry.clientLogo | length %}
			{% set image = entry.clientLogo.first() %}
				<img src="{{ image.url }}" alt="{{ image.title }}">
			{% endif %}

		</div>
	</div>
</header>	

<!-- End Masthead -->

<!-- Intro Copy -->

<section id="kumho-intro" class="main-container">
	<div class="centered intoduction-paragraph">
		{{ entry.caseStudyIntroduction }}
	</div>
	<hr />

	{% for listenPlanDeliverContent in entry.listenPlanDeliver %}

	<div class="flexbox listen">
		<h2>Listen</h2>
		<div class="listen-copy">
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			{{ listenPlanDeliverContent.listenCopy }}
		</div>	
	</div>
	<hr />
	<div class="flexbox plan">
		<h2>Plan</h2>
		<div class="plan-copy">
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			{{ listenPlanDeliverContent.planCopy }}
		</div>	
	</div>
	<hr />
	<div class="flexbox deliver">
		<h2>Deliver</h2>
		<div class="deliver-copy">
			<div class="rule">
				<img src="/img/rule.png" alt="Rule" />
			</div>
			{{ listenPlanDeliverContent.deliverCopy }}
		</div>
	</div>
	<hr />

	{% endfor %}

</section>

<!-- End Intro Copy -->

{{ entry.caseStudyHtml | raw }}

<!-- Fixed Nav Buttons -->

<div id="work-fixed-nav-buttons">
	<ul class="section_tabs flexbox work-fixed-nav-buttons">
		<li>
			<a href="{{ prevEntry.url }}" class="nav-buttons flexbox fixed-previous-page">
				<img src="/img/buttons/big/arrow-left.svg" alt="Prev" />
				<h2>&nbsp;&nbsp;Prev</h2>
			</a>
		</li>
		<div class="fixed-spacer">
			<h2>&nbsp;</h2>
		</div>
		<li>
			<a href="{{ nextEntry.url }}" class="nav-buttons flexbox fixed-next-page">
				<h2>Next&nbsp;&nbsp;</h2>
				<img src="/img/buttons/big/arrow-right.svg" alt="Next" />
			</a>
		</li>
	</ul>
</div>

<!-- End Fixed Nav Buttons -->

{% endblock main %}


{% block footer_home %}


		<!-- Footer -->

		<footer id="footer">
			<div class="footer flexbox main-container">
				<div class="footer-row-1 flexbox">
					<div class="previous-case-study">
						<a href="{{ prevEntry.url }}">
							<div class="project-image">
								{% if prevEntry.caseStudyPanelImage | length %}
				    			{% set image = prevEntry.caseStudyPanelImage.first() %}
				        			<img src="{{ image.url }}" alt="{{prevEntry.title}}">
								{% endif %}
							</div>
							<div class="hvr-bounce-to-top project-name-panel">
								<p class="project-info"><span class="project-client">{{ prevEntry.title }}</span><br><span class="project-title">{{ prevEntry.caseStudySubtitle }}</span></p>
							</div>
						</a>
					</div>
					<div class="view-all-work flexbox">
						<a href="/work">
							<img src="/img/view-all-work.svg" alt="View all work" />
							<h3>View all work</h3>
						</a>
					</div>
					<div class="next-case-study">
						<a href="{{ nextEntry.url }}">
							<div class="project-image">
								{% if nextEntry.caseStudyPanelImage | length %}
				    			{% set image = nextEntry.caseStudyPanelImage.first() %}
				        			<img src="{{ image.url }}" alt="{{nextEntry.title}}">
								{% endif %}
							</div>
							<div class="hvr-bounce-to-top project-name-panel">
								<p class="project-info"><span class="project-client">{{ nextEntry.title }}</span><br><span class="project-title">{{ nextEntry.caseStudySubtitle }}</span></p>
							</div>
						</a>
					</div>
				</div>
			</div>	
			<div class="footer-row-2">
				<div class="social">
					<a href="http://www.twitter.com/foundrycomms">
						<img src="/img/social/twitter.svg" alt="Twitter" />
					</a>
					<a href="http://www.facebook.com/foundrycomms">
						<img src="/img/social/facebook.svg" alt="Facebook" />
					</a>
					<a href="http://www.youtube.com/foundrycomms">
						<img src="/img/social/you-tube.svg" alt="YouTube" />
					</a>
					<a href="http://www.linkedin.com/company/the-foundry-communications">
						<img src="/img/social/linkedin.svg" alt="LinkedIn" />
					</a>
					<a href="http://www.pinterest.com/thefoundrycomms">
						<img src="/img/social/pinterest.svg" alt="Pinterest" />
					</a>
				</div>	
			</div>
			<div class="footer main-container">
				<div class="footer-row-3 flexbox">
					<p class="contact-number"><span>Contact</span> <a href="tel:{{ companyDetails.phoneNumberLink }}">{{ companyDetails.phoneNumber }}</a></p>
					<div class="enquiry-button">
						<a href="/contact">
							<div class="hvr-bounce-to-right button-next flexbox">
								<p>Make Enquiry</p>
							</div>
						</a>
					</div>
				</div>
			</div>	
		</footer>


{% endblock footer_home %}