{% set title = "Work" %}

{% extends "_layouts/site" %}

{% block main %}

	<!-- Masthead -->

	<header id="work-masthead" class="masthead flexbox">
		<div class="masthead-content main-container flexbox">
			<div class="headlines">
				<h1>Our Work</h1>
				<div class="rule">
					<img src="/img/rule.png" alt="Rule" />
				</div>
				<h3>We solve marketing problems with compelling and creative communications. Here are some of our favourites…</h3>
			</div>
		</div>
	</header>	

	<!-- End Masthead -->

	<!-- Case Studes -->

	<div id="case-studies">
		<div class="case-studes-examples clearfix">
			{% for caseStudy in craft.entries.section('caseStudies').limit(6) %}
			<div class="case-studes-example">
				<a href="{{caseStudy.url}}">

					{% if caseStudy.caseStudyPanelImage | length %}
	    			{% set image = caseStudy.caseStudyPanelImage.first() %}
	        			<img src="{{ image.url }}" alt="{{caseStudy.title}}">
					{% endif %}

					<div class="hvr-bounce-to-top project-name-panel">
						<p class="project-info"><span class="project-client">{{caseStudy.title}}</span><br><span class="project-title">{{caseStudy.caseStudySubtitle}}</span></p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- End Case Studes -->

{% endblock main %}