{% set title = "Contact Us" %}

{% extends "_layouts/site" %}

{% block main %}


<!-- Masthead -->

		<header id="contact-masthead" class="masthead flexbox">
			<div class="masthead-content main-container flexbox">
				<div class="headlines">
					<h1>Contact Us</h1>
					<div class="rule">
						<img src="/img/rule.png" alt="Rule" />
					</div>
					<div class="contact-details flexbox">
						<div class="address flexbox">
							<img src="/img/address.svg" alt="Address" />
							<p>
								{{ companyDetails.postalAddress | raw }}
							</p>
						</div>
						<div class="telephone flexbox">
							<img src="/img/telephone.svg" alt="Telephone" />
							<a href="tel:+{{ companyDetails.phoneNumber }}"><p>{{ companyDetails.phoneNumber }}<p></a>
						</div>
						<div class="email flexbox">
							<img src="/img/email.svg" alt="Email" />
							<a href="mailto:{{ companyDetails.emailAddress }}"><p>{{ companyDetails.emailAddress }}<p></a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- End Masthead -->

		<!-- Map -->

		<section id="map">
			<div class="map centered">
				<?php perch_content('Map'); ?>
			</div>
		</section>

		<!-- End Map -->

		<!-- Enquiry Form -->

		<section id="enquiry-form" class="centered">
			<form id="form1_contact" action="#perch-reset" method="post">
		        <h1>Make an enquiry</h1>
				<div class="rule">
					<img src="/img/rule.png" alt="Rule" />
				</div>
				<p>Send us a message. Fill in your details and we'll be in touch as soon as possible.</p>
				<fieldset>
					<div class="form-field">
						<input id="form1_name" name="user_name" placeholder="Name" type="text" required="required" />
					</div>
					<div class="form-field">
						<input id="form1_position" name="user_position" placeholder="Position" type="text" required="required" />
					</div>
					<div class="form-field">
						<input id="form1_company" name="user_company" placeholder="Company" type="text" required="required" />
					</div>
					<div class="form-field">
						<input id="form1_email" name="user_email" placeholder="Email address" type="text" required="required" />

					</div>
					<div class="form-field">
						<input id="form1_telephone" name="user_telephone" placeholder="Telephone number" type="text" required="required" />
					</div>
					<div class="form-field">
						<input id="form1_message" name="user_message" placeholder="Message" type="text" required="required" />
					</div>

					<div class="hvr-bounce-to-right button-next">
						<input id="form1_submit" name="submit" value="Send" type="submit" /><input type="hidden" name="cms-form" value="Y29udGFjdDpwZXJjaF9mb3JtczovdGVtcGxhdGVzL2NvbnRlbnQvZW5xdWlyeS1mb3JtLmh0bWw6MTQ3OTcyNTg2OA==" />
					</div>
				</fieldset>
				
			</form>
		</section>

		<!-- End Enquiry Form -->

		<!-- Careers -->

		{% for paragraph in entry.generalParagraph %}
		<section id="careers" class="main-container">
			<div class="centered">
				<h1>{{ paragraph.paragraphHeadline }}</h1>
				<div class="rule">
					<img src="/img/rule.png" alt="Rule" />
				</div>
				{{ paragraph.paragraphCopy }}
			</div>
		</section>
		{% endfor %}

		<!-- End Careers -->

{% endblock main %}